{% extends "layout.html" %}
{% block body_content %}

 <form method='POST' action=''>
 {{ form.hidden_tag() }}
 <br>
 {{ form.title.label }}
 {{ form.title }}
 {% if form.title.errors %}
          {% for error in form.title.error %}
          {{ error }}
          {% endfor %}
 {% endif %}
 <br>
 {{ form.content.label }}
 {{ form.content }}
 {% if form.content.errors %}
          {% for error in form.content.error %}
          {{ error }}
          {% endfor %}
 {% endif %}
 <br>
 {{ form.submit }}
</form>
   

{% endblock %}
