{% extends "layout.html" %}
{% block body_content %}

 <form method='POST' action=''>
 {{ form.hidden_tag() }}
 {{ form.first_name.label }}
 {{ form.first_name }}
 {% if form.first_name.errors %}
          {% for error in form.first_name.error %}
	  {{ error }}
	  {% endfor %}
 {% endif %}	  
 <br>
 {{ form.last_name.label }}
 {{ form.last_name }}
 {% if form.last_name.errors %}
          {% for error in form.last_name.error %}
          {{ error }}
          {% endfor %}
 {% endif %}
 <br>
 {{ form.title.label }}
 {{ form.title }}
 {% if form.title.errors %}
          {% for error in form.title.error %}
          {{ error }}
          {% endfor %}
 {% endif %}
 <br>
 {{ form.content.label }}
 {{ form.content }}
 {% if form.content.errors %}
          {% for error in form.content.error %}
          {{ error }}
          {% endfor %}
 {% endif %}
 <br>
 {{ form.submit }}
</form>
   

{% endblock %}
